<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IWebshop" />
        <binding name="WSDualHttpBinding_IBackoffice" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WebshopService/Webshop/"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IWebshop"
        contract="WebshopServiceReference.IWebshop" name="WSDualHttpBinding_IWebshop">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WebshopService/Backoffice/"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IBackoffice"
        contract="WebshopServiceReference.IBackoffice" name="WSDualHttpBinding_IBackoffice">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
